**/.vs
**/.vscode
**/bin
**/obj
**/out
**/node_modules
**/.git
**/.gitignore
**/Thumbs.db
**/*.user
**/*.suo
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/docker-compose*.yml
**/Dockerfile*
**/.dockerignore
**/charts
**/secrets.dev.yaml
**/values.dev.yaml
**/TestResults
**/*.db
**/*.db-shm
**/*.db-wal
**/settings.json
**/epg.xml
LICENSE
README.md
